footer
{
    @include set-dimensions(auto,100%);
    display: flex;
    justify-content: space-between;

    &>span{
        padding: 0.7em;
        color: $color-bg;
        font-size: 0.8em;
        text-decoration: underline;
        background-color: rgba($color-dark, 0.5);
        border-radius: 0.5em;
    }
}


