nav
{
    @include set-dimensions(auto,100%);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.btn
{
    color: $color-bg;
    margin: 0.5em;
    padding: 0.8em;
    border-radius: 0.5em;
    box-shadow: 1px 1px 1px black;
}
.purple
{
    background-color: purple;
}
.violet
{
    background-color: blueviolet;
}
.pink
{
    background-color: violet;
}
.contrario
{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.white
{
    color: $color-bg;
}